html,body{
	font-family: Arial, sans-serif;
	background-image: white;
	max-height: 100% auto;
}

.wrapper{
	margin: 50px;
	border-radius: 50px;
	background-image: url("../img/BGimage.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
 	background-size: 50%;
	background-color: black;
}

header{

	background-repeat: repeat;
	
	padding: 10px;
	text-align: center;
}

h1{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 100px;
	color: aliceblue;
	text-transform: uppercase;
	text-align: center;
	line-height: 80%;
	margin-right: 100px auto;
	margin-left: 100px auto;
	background: -webkit-linear-gradient(left, red , yellow);
   background: -o-linear-gradient(right, red, yellow);
   background: -moz-linear-gradient(right, red, yellow);
   background: linear-gradient(to right, red , yellow); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	
	
	
}

header img{

	
	max-width: 30%;
	text-align: center;
	width: 300px auto;
	padding: 8px;
	border-radius: 220px;
	border: 10px solid #F9EBB0;
	background-image: linear-gradient(to bottom, red, black);
	

	
	
}

hr{
	border: 5px solid red;
	border-radius: 40px;
	max-width: 84%;
	
	
	
	
}

h2{
	color: aliceblue;
	background-image: linear-gradient(to right, red, black);
	text-align: center;
	border-radius: 10px;
	width: auto;
	height: auto;
	padding 5px 30px 5px 30px;
	font-family: 'Barlow Condensed', sans-serif;
	
}
.content{
	max-width: 80%;
	margin: auto;
	margin-bottom: 220px;
	padding: 10px 20px ;
	background-color: white;
	opacity: 0.9;
	border-radius: 25px;
	
}

img.big-image{
	margin: auto;
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgray;
	font-style:italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	color: black;
}

a{
	
	color:red;
	text-decoration: none;
	font-family: 'Barlow Condensed', sans-serif;
	
}

a:hover{
	color: brown;
}

footer{
	background-color: white;
	max-width: 80%;
	
	margin: auto ;
	padding: 20px;	
	border: 15px solid black;
	opacity: 0.85;
	border-radius: 45px;

	
	
	
	text-align: center;
}

ul{
	text-align: center;
	
}

.li{
		color: black;
	background-image: linear-gradient(to right, red, black);
	text-align: center;
	border-radius: 10px;
	width: auto;
	height: auto;
	padding 5px 30px 5px 30px;
	font-family: 'Barlow Condensed', sans-serif;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
	font-family: 'Barlow Condensed', sans-serif;
}
