/* Global View AKA Desktop view */

body {

    font-family: 'Quicksand', sans-serif;
    /* background-color: #EBEBEB; */
    z-index: -1;
    
}

a {
    color: white;
    text-decoration: none;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 330px;
    
}

.header-container {

    background-color: darkslategrey;
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width:100%;
    opacity: 0.95;
    z-index: 5;
}

header {
    /* background-color: dodgerblue; */
    max-width: 1024px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    text-transform: uppercase;
    box-sizing: border-box;
    
}

header p {

    color: white;
    
}

.bold {
    font-weight: 700;
    color: rgb(255, 255, 255);
    
    
}

.header-container .navbutton {
    
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    font-family: 'Quicksand', sans-serif;
    padding: 11px 20px;
    border-radius: 4px 4px;
    border-color: rgba(255, 255, 255, 0.753);
    /* display: inline-block; */
    margin-left: 20px;
    

}

.text-wrap {

    width: 100%;
    padding-top: 116px;
    background-color: cadetblue;
    position: fixed;
    z-index: 1;
    
    
}

.text-wrapcontainer {
    text-align: center;
    
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    
}

.text-wrap .text-wrapcontainer h1 {
    font-size: 2rem;
    padding: 10px;
}

.text-wrap .text-wrapcontainer p {

    font-size: 0.85rem;
    text-align: left;
    padding-bottom: 5px;
    line-height: 1.5rem;
}

.col {
   
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(18, 2, 47);
    z-index: 2;

}

.col p {
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    padding: 10px 20px;
    line-height: 1.2rem;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

.hide-desktop-only {

    display: none;
}

.mob-wrapper {
    display: none;
    
}




/* Tablet View */
@media (max-width: 768px) {

    .col {
        width: 47%;
    }

    .hide-desktop-only {

        display: block;
    }
   

    .logo {
        padding: 40px 0;
    }
    /* nav a {
        display: block;
        
    } */
    nav {
        display: none;
        
    }

    .header-container .navbutton {
    
        /* color: #ffffff;
        border-width: 1px;
        border-style: solid;
        font-family: 'Quicksand', sans-serif;
        
        
        border-color: rgba(255, 255, 255, 0.753);
        display: inline-block; */
        margin-left: 0;
        border-radius: 0px 0px;
        
        
    }
    .container {
        position: absolute;
        padding-top: 400px;  
    }
    .header-container {
        /* position: relative; */
        position: fixed;
        z-index: 99;
        
    }
    header {
        /* background-color: dodgerblue; */
        
        padding-top: 0px;
        padding-bottom: 0px;
        
        
    }
    .mob-wrapper {
        display: block;
        padding-right: 30px;
        
    }
    .mob-nav {
        display: none;
        position: absolute;
        padding-top: 15px;
    }
   .navbutton2 {
       display: block;
       background-color: coral;
       padding: 15px 30px;
       margin-left: -70px;
       text-align: center;
   }

   .text-wrap {
    /* margin-top: 0px; */
    width: 100%;
    padding-top: 100px;
   z-index: 10;
   position: fixed;
    
    
}

   .text-wrapcontainer {

    
    width: 70%;
    
}
}

.col img {
    width: 100%;
    height: auto;
}


/* Mobile View */
@media (max-width: 425px) {

    .col {
        width: 100%;
    }
    .hide-mobile {
        display: none;
    }   
   



    }